@model IEnumerable<_2024_InstitutoEducativo.Models.Materia>

@{
    ViewData["Title"] = "Materias";
}

<h1>Materias</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MateriaNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodMateria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CupoMaximo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carrera)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MateriaNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodMateria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CupoMaximo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carrera.Nombre)
            </td>
                @if (User.IsInRole(Configs.EmpleadoRolName) || (User.IsInRole(Configs.AdminRolName))) {
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
                }
        </tr>
}
    </tbody>
</table>
